.add-to-cart {
  padding: 5px;
  border-radius: 5px;
  margin:0 5px;
  font-size: 20px;  
  color:rgb(0, 21, 255);
  cursor: pointer;
}

.product-info {
  margin: 20px 0;
  height: calc(100% - 410px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
